참고할 문서 링크

http://www.slideshare.net/juhuipark37/spark-sql-55494235 # 책 내용 CH9 sparkSQL 아꿈사 박주희님 자료   
http://www.slideshare.net/KangDognhyun/spark-sql-57229920 # SPARK RDD, DataFrame, Dataset 비교 등 - 강동현님 자료

## CH9. SPARKSQL 실습

### 실습파일

In [ ]:
!git clone https://github.com/databricks/learning-spark.git

In [ ]:
from pyspark import SparkContext
sc = SparkContext() # SparkContext 객체가 sc 변수에 만들어진다.

In [ ]:
sc

### 예제 9-8 파이썬에서 SQL 컨텍스트 생성

In [ ]:
hiveCtx = HiveContext(sc)

#### HiveContext를 사용할 경우

In [ ]:
from pyspark.sql import HiveContext, Row

In [ ]:
hiveCtx = HiveContext(sc)

#### SQLContext

In [3]:
from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)

## 기본쿼리예제

### 예제 9-11 파이썬에서 트윗 데이터 읽어서 질의하기

In [1]:
cd /home/jovyan/work/learning-spark/files

/home/jovyan/work/learning-spark/files

In [2]:
ll

total 72
-rw-r--r-- 1 jovyan   69 May 24 08:14 callsigns
-rw-r--r-- 1 jovyan    7 May 24 08:14 call_signs2.txt
-rw-r--r-- 1 jovyan 8194 May 24 08:14 callsign_tbl
-rw-r--r-- 1 jovyan 8194 May 24 08:14 callsign_tbl_sorted
-rw-r--r-- 1 jovyan  288 May 24 08:14 cqlsh_setup
drwxr-xr-x 2 jovyan 4096 May 24 08:14 fake_logs/
-rw-r--r-- 1 jovyan   42 May 24 08:14 favourite_animals.csv
-rw-r--r-- 1 jovyan  656 May 24 08:14 flumeconf.cfg
-rw-r--r-- 1 jovyan  764 May 24 08:14 ham.txt
-rw-r--r-- 1 jovyan   34 May 24 08:14 happypandas
-rw-r--r-- 1 jovyan   25 May 24 08:14 int_string.csv
-rw-r--r-- 1 jovyan  146 May 24 08:14 pandainfo.json
-rw-r--r-- 1 jovyan  501 May 24 08:14 spam.txt
-rw-r--r-- 1 jovyan 1493 May 24 08:14 testweet.json

### 여기부터 보시는 분들을 위해 처음부터 다시

In [1]:
from pyspark import SparkContext
sc = SparkContext()

### 파이썬에서 SQL Context 생성 : HiveContext 로 시작

In [55]:
from pyspark.sql import HiveContext, Row
hiveCtx = HiveContext(sc)

#### testweet.json을 데이터로 사용

In [45]:
cd ~/work/learning-spark/files

/home/jovyan/work/learning-spark/files

In [46]:
ls

callsigns            fake_logs/             int_string.csv  spark/
call_signs2.txt      favourite_animals.csv  pandainfo.json  testjoin.join
callsign_tbl         flumeconf.cfg          people.json     testjson.json
callsign_tbl_sorted  ham.txt                people.txt      testweet.json
cqlsh_setup          happypandas            spam.txt

In [3]:
!cat testweet.json

{"createdAt":"Nov 4, 2014 4:56:59 PM","id":529799371026485248,"text":"Adventures With Coffee, Code, and Writing.","source":"\u003ca href\u003d\"http://twitter.com\" rel\u003d\"nofollow\"\u003eTwitter Web Client\u003c/a\u003e","isTruncated":false,"inReplyToStatusId":-1,"inReplyToUserId":-1,"isFavorited":false,"retweetCount":0,"isPossiblySensitive":false,"contributorsIDs":[],"userMentionEntities":[],"urlEntities":[],"hashtagEntities":[],"mediaEntities":[],"currentUserRetweetId":-1,"user":{"id":15594928,"name":"Holden Karau","screenName":"holdenkarau","location":"","description":"","descriptionURLEntities":[],"isContributorsEnabled":false,"profileImageUrl":"http://pbs.twimg.com/profile_images/3005696115/2036374bbadbed85249cdd50aac6e170_normal.jpeg","profileImageUrlHttps":"https://pbs.twimg.com/profile_images/3005696115/2036374bbadbed85249cdd50aac6e170_normal.jpeg","isProtected":false,"followersCount":1231,"profileBackgroundColor":"C0DEED","profileTextColor":"333333","profileLinkColor":"0084B4","profileSidebarFillColor":"DDEEF6","profileSidebarBorderColor":"FFFFFF","profileUseBackgroundImage":true,"showAllInlineMedia":false,"friendsCount":600,"createdAt":"Aug 5, 2011 9:42:44 AM","favouritesCount":1095,"utcOffset":-3,"profileBackgroundImageUrl":"","profileBackgroundImageUrlHttps":"","profileBannerImageUrl":"","profileBackgroundTiled":true,"lang":"en","statusesCount":6234,"isGeoEnabled":true,"isVerified":false,"translator":false,"listedCount":0,"isFollowRequestSent":false}}

### 1차 오류

In [5]:
inputFile = "testweet.json"
input = hiveCtx.jsonFile(inputFile)

Py4JJavaError: An error occurred while calling o18.json.
: java.io.IOException: No input paths specified in job
	at org.apache.hadoop.mapred.FileInputFormat.listStatus(FileInputFormat.java:201)
	at org.apache.hadoop.mapred.FileInputFormat.getSplits(FileInputFormat.java:313)
	at org.apache.spark.rdd.HadoopRDD.getPartitions(HadoopRDD.scala:199)
	at org.apache.spark.rdd.RDD$$anonfun$partitions$2.apply(RDD.scala:239)
	at org.apache.spark.rdd.RDD$$anonfun$partitions$2.apply(RDD.scala:237)
	at scala.Option.getOrElse(Option.scala:120)
	at org.apache.spark.rdd.RDD.partitions(RDD.scala:237)
	at org.apache.spark.rdd.MapPartitionsRDD.getPartitions(MapPartitionsRDD.scala:35)
	at org.apache.spark.rdd.RDD$$anonfun$partitions$2.apply(RDD.scala:239)
	at org.apache.spark.rdd.RDD$$anonfun$partitions$2.apply(RDD.scala:237)
	at scala.Option.getOrElse(Option.scala:120)
	at org.apache.spark.rdd.RDD.partitions(RDD.scala:237)
	at org.apache.spark.rdd.MapPartitionsRDD.getPartitions(MapPartitionsRDD.scala:35)
	at org.apache.spark.rdd.RDD$$anonfun$partitions$2.apply(RDD.scala:239)
	at org.apache.spark.rdd.RDD$$anonfun$partitions$2.apply(RDD.scala:237)
	at scala.Option.getOrElse(Option.scala:120)
	at org.apache.spark.rdd.RDD.partitions(RDD.scala:237)
	at org.apache.spark.rdd.RDD$$anonfun$treeAggregate$1.apply(RDD.scala:1115)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:150)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:111)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:316)
	at org.apache.spark.rdd.RDD.treeAggregate(RDD.scala:1113)
	at org.apache.spark.sql.execution.datasources.json.InferSchema$.infer(InferSchema.scala:65)
	at org.apache.spark.sql.execution.datasources.json.JSONRelation$$anonfun$4.apply(JSONRelation.scala:114)
	at org.apache.spark.sql.execution.datasources.json.JSONRelation$$anonfun$4.apply(JSONRelation.scala:109)
	at scala.Option.getOrElse(Option.scala:120)
	at org.apache.spark.sql.execution.datasources.json.JSONRelation.dataSchema$lzycompute(JSONRelation.scala:109)
	at org.apache.spark.sql.execution.datasources.json.JSONRelation.dataSchema(JSONRelation.scala:108)
	at org.apache.spark.sql.sources.HadoopFsRelation.schema$lzycompute(interfaces.scala:636)
	at org.apache.spark.sql.sources.HadoopFsRelation.schema(interfaces.scala:635)
	at org.apache.spark.sql.execution.datasources.LogicalRelation.<init>(LogicalRelation.scala:37)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:125)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:109)
	at org.apache.spark.sql.DataFrameReader.json(DataFrameReader.scala:244)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:57)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:606)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:231)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:381)
	at py4j.Gateway.invoke(Gateway.java:259)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:133)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:209)
	at java.lang.Thread.run(Thread.java:745)

#### 이제 jsonFile 이 아니라 read.json 으로 바뀌었다고 합니다 . (책에는 jsonFile로 나와있음)

http://spark.apache.org/docs/latest/sql-programming-guide.html#json-datasets

#### 예제를 한번 보고 넘어갈까요~!

In [ ]:
# sc is an existing SparkContext.
from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)
sqlContext = SQLContext(sc)

# A JSON dataset is pointed to by path.
# The path can be either a single text file or a directory storing text files.
people = sqlContext.read.json("examples/src/main/resources/people.json")

# The inferred schema can be visualized using the printSchema() method.
people.printSchema()
# root
#  |-- age: integer (nullable = true)
#  |-- name: string (nullable = true)

# Register this DataFrame as a table.
people.registerTempTable("people")

# SQL statements can be run by using the sql methods provided by `sqlContext`.
teenagers = sqlContext.sql("SELECT name FROM people WHERE age >= 13 AND age <= 19")

# Alternatively, a DataFrame can be created for a JSON dataset represented by
# an RDD[String] storing one JSON object per string.
anotherPeopleRDD = sc.parallelize([
  '{"name":"Yin","address":{"city":"Columbus","state":"Ohio"}}'])
anotherPeople = sqlContext.jsonRDD(anotherPeopleRDD)

#### 하지만 다시 에러발생

In [ ]:
inputFile = "testweet.json"
#input = hiveCtx.jsonFile(inputFile)
input = hiveCtx.read.json(inputFile)

아무리 해도 에러를 잡을 수가~!!! ㅠ.ㅠ  
그냥 파일이름만 쓰지 맙시다.   
그리고 반드시 상대경로가 아닌 절대경로를 사용.

In [ ]:
from pyspark.sql import HiveContext, Row
hiveCtx = HiveContext(sc)

In [56]:
inputFile = "/home/jovyan/work/learning-spark/files/testweet.json"
input = hiveCtx.read.json(inputFile)

Exception: ("You must build Spark with Hive. Export 'SPARK_HIVE=true' and run build/sbt assembly", Py4JJavaError(u'An error occurred while calling None.org.apache.spark.sql.hive.HiveContext.\n', JavaObject id=o868))

경로 문제는 해결하였으나, 현재 사용하는 서버에는 HIVE가 연결되어있지 않아서 hiveCtx 는 사용할 수가 없었음.

대신 SQLContext 사용하기로 함

In [57]:
from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)
inputFile = "/home/jovyan/work/learning-spark/files/testweet.json"
input = sqlContext.read.json(inputFile)

In [58]:
# 입력 데이터프레임 등록
input.registerTempTable("tweets")

In [60]:
# retweetCount 기준으로 트윗들을 가져온다. 
topTweets = sqlContext.sql("""SELECT text, 
retweetCount FROM tweets ORDER BY retweetCount LIMIT 10""")

In [62]:
topTweets

DataFrame[text: string, retweetCount: bigint]

In [65]:
topTweets.show()

+--------------------+------------+
|                text|retweetCount|
+--------------------+------------+
|Adventures With C...|           0|
+--------------------+------------+

그럼 한가지 더 해볼까요.

https://github.com/trustedanalytics/jupyter-default-notebooks/blob/master/notebooks/examples/spark/spark-sql-example.ipynb

In [67]:
# Create a SqlContext from the SparkContext
sqlContext = SQLContext(sc)

In [68]:

data = [
    (1, 'a'), 
    (2, 'b'), 
    (3, 'c'), 
    (4, 'd'), 
    (5, 'e'), 
    (6, 'a'), 
    (7, 'b'), 
    (8, 'c'), 
    (9, 'd'), 
    (10, 'e')
]

In [69]:
# Convert a local data set into a DataFrame
df = sqlContext.createDataFrame(data, ['numbers', 'letters'])

# Convert to a Pandas DataFrame for easy display
df.toPandas()

   numbers letters
0        1       a
1        2       b
2        3       c
3        4       d
4        5       e
5        6       a
6        7       b
7        8       c
8        9       d
9       10       e

In [70]:
# Register the DataFrame as a table
df.registerTempTable("mytable")

# Peform a simple select from the table
results = sqlContext.sql("select * from mytable")

# Convert the results to a Pandas DataFrame for easy viewing
results.toPandas()

   numbers letters
0        1       a
1        2       b
2        3       c
3        4       d
4        5       e
5        6       a
6        7       b
7        8       c
8        9       d
9       10       e

In [71]:

# Perform a query with a where clause and order by
results = sqlContext.sql("select * from mytable where numbers < 8 order by numbers desc")

# Convert the results to a Pandas DataFrame for easy viewing
results.toPandas()

   numbers letters
0        7       b
1        6       a
2        5       e
3        4       d
4        3       c
5        2       b
6        1       a

In [72]:

# Perform a more complex query on the table
results = sqlContext.sql("select letters, count(*) as count, avg(numbers) as avg, sum(numbers) as sum from mytable group by letters")

# Convert the results to a Pandas DataFrame for easy viewing
results.toPandas()

  letters  count  avg  sum
0       a      2  3.5    7
1       b      2  4.5    9
2       c      2  5.5   11
3       d      2  6.5   13
4       e      2  7.5   15

In [ ]:
sc.stop()

## 데이터 프레임

http://www.slideshare.net/juhuipark37/spark-sql-55494235

#### 예제 9-14 파이썬의 topTweets 데이터프레임에서 문자열 칼럼 접근하기

In [73]:
topTweetText = topTweets.rdd.map(lambda row: row.text)

## 캐싱

cacheTable(“tableName”) 을 호출하여메모리상의 컬럼 지향 포맷으로 테이블을 캐쉬할 수 있다.  
메모리에 드라이버 프로그램이 실행되는 동안 유효  
HiveSQL이나 SQL 문장으로도 테이블 캐시 가능   
Cache Table “TableName” or UnCache

In [ ]:
스파크 SQL을 기존의 하이브에 연결하려면, 하이브 설정을 제공해주어야 함.  
hive-site.xml 파일을 스파크의 ./conf 디렉터리에 복사해주면 된다.

## 데이터 불러오고 저장하기

### 아파치 하이브

### 예제 9-15 파이썬에서 하이브 읽기

In [ ]:
from pyspark.sql import HiveContext

In [ ]:
hiveCtx = HiveContext(sc)

In [ ]:
rows = hiveCtx.sql("SELECT key, value FROM mytable")

In [ ]:
keys = rows.map(lambda row: row[0])

### 데이터소스 / 파케이

In [21]:
!git clone https://github.com/apache/spark.git

Cloning into 'spark'...
remote: Counting objects: 360682, done.
remote: Compressing objects: 100% (18/18), done.
remote: Total 360682 (delta 4), reused 0 (delta 0), pack-reused 360664
Receiving objects: 100% (360682/360682), 177.41 MiB | 9.78 MiB/s, done.
Resolving deltas: 100% (137322/137322), done.
Checking connectivity... done.
Checking out files: 100% (13303/13303), done.

### 파이썬에서 파케이 읽기

In [ ]:
rows = hiveCtx.load(parquetFile, "parquet")
names = rows.map(lambda row: row.name)
print "Everyone"
print names.collect()

### 파케이에 질의(쿼리)

In [ ]:
tbl = rows.registerTempTable("people")

In [ ]:
pandaFriends = hiveCtx.sql("SELECT name FROM people WHERE favoriteAnimal = \"panda\"")

In [ ]:
print "Panda friends"
print pandaFriends.map(lambda row: row.name).collect()

### 파케이 파일 저장

In [ ]:
pandaFriends.save("hdfs://...", "parquet")

## JSON

### 입력레코드

In [ ]:
{"name": "Holden"}
{"name": "Sparky The Bear", "lovesPandas":true, "knows":{"friends":["holden"]}}

### 파이썬에서 스파크SQL로 JSON 불러오기

In [ ]:
input = hiveCtx.read.json(inputFile)

### 스키마 출력

In [ ]:
printSchema()

#### SQL 쿼리로 중접 및 배열 데이터 요청

In [ ]:
select hashtagEntities[0].text from tweets LIMIT 1;

#### RDD에서 가져오기

RDD로부터 데이터프레임을 만들어낼수 있다. 
파이썬에서는 Row 객체들의 RDD를 만들고 inferSchema()를 부르면 된다.

#### 파이썬에서 Row와 이름있는 튜플로 DataFrame 만들기

In [ ]:
happyPeopleRDD = sc.paralleliza([Row(name="holden", favouriteBeverage="coffee")])
happyPeopleDataFrame = hiveCtx.inferSchema(happyPeopleRDD)
happyPeopleDataFrame.registerTempTable("happy_people")

### JDBC/ODBC -- BI TOOL과 연결

Tableau와 Spark 연결

https://www.youtube.com/watch?v=OKcIf6UdK7c

#### 참고할 만한 SPARK 예제들이 많이 있습니다. 꼭 한번 읽어보세요

https://github.com/hibariba/all-spark-notebook-jupyter-demo/tree/master/notebooks

https://github.com/hibariba/all-spark-notebook-jupyter-demo/blob/master/notebooks/research-notebook-example.ipynb